.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-menu {
    position: absolute; /* Щоб не зміщувати елементи хедера */
    top: 20%; /* Відкривається під елементом */
    left: 0;
    width: 100%; 
    background-color: palegoldenrod; /* Змінюйте залежно від дизайну */
    opacity: 0; /* Сховане за замовчуванням */
    transform: translateY(-10px); /* Трохи зміщено вверх для ефекту "випливання" */
    visibility: hidden; /* Щоб меню не було "клікабельним", коли воно приховане */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Плавність анімації */
    z-index: 100; /* Меню буде поверх інших елементів */
}

.header-menu.visible {
    opacity: 1; 
    transform: translateY(0); /* Зміщення в 0, щоб меню плавно "спускалося" */
    visibility: visible; /* Робимо його видимим */
}

.header-menu-item {
    padding: 10px 20px;
}

.header-menu-div {
    display: flex;
    flex-direction: column;
}



  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
  }
  